.inventory{
    margin:100px 0px 100px 200px ;
}


.inventoryAddProduct{
    background-color: yellow;
    padding: 5px 15px;
    border: 2px solid rgb(213, 232, 103);
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    transition: all 1s;
}
.inventoryAddProduct:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 0);
    transform: scale(1.01);
}